#!/usr/bin/env xdg-open
[Desktop Entry]
Version=0.1
Name=Shraya
Name[en_US]=Shraya
Comment=Shrineflow's Maya environment
Comment[en_US.UTF-8]=Shrineflow's Maya environment
Exec=/groups/shrineflow/y24-pipeline/pipeline/__main__.py maya
Icon=/groups/dungeons/pipeline/pipeline/lib/icon/maya.png
Terminal=false
Type=Application
Categories=Utility;Application;
\00
